*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}
body{
    font-family:"Cascadia Mono", sans-serif,Verdana, Geneva, Tahoma;
    font-size:1em;
}

nav{
    min-height:70px;

}

.hero-txt{
font-weight:bold;
font-size:4em;

}

.hero-msg{
font-size:2.4em;
color:#00000088;
}


/* .hero img{
    position:relative;
    width:100%;
    height:100%
} */

.hero-body{
    position:absolute;
    top:200px;
    bottom:200px;
    left:50px;
    padding: 20px;
    width:50%;
}
.hero-body a{
font-size:1.2em;
}


.card p i{
    font-size: 3em;
    color:#297373;  
}

.card p i:hover{
    font-size:5em;
}

.card-text{
color:#00000088;

}
.nav-item i{
    font-size:1em;
}
 .action i{
    font-size:1em;
}
.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
}
.card-body a i{
font-size:1.3em;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-img-overlay{
    background-color:#00000055;
}
.socials i{
    font-size:1.3em;
    color:#297373;
    background-color:white;
    border-radius: 50%;
}


h4{
    font-weight: bold;
}

ul li{
list-style-type: none;
}

a{
    color:white;
}
footer{
    background-color:#297373;
    color:white;
}

 @media (max-width: 576px) {
    .hero-body{
    position:absolute;
    top:80px;
    left:20px;
    /* background-color: #00000011; */
    padding:5px;
    border-radius: 10px;
}
.hero img{
    position:relative;
    width:100%;
    height:100%
}
.hero-body a{
font-size:1em;
}
.hero-txt{
font-weight:bold;
font-size:2.3em;
}
.hero-msg{
font-size:0.9em
}
 }