*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}
body{
    font-family:"Cascadia Mono", sans-serif,Verdana, Geneva, Tahoma;
    font-size:1em;
}
/* 
div{
    border:2px solid red;
} */

nav{
    min-height:70px;
}

.hero {
    width: 100%;
    height: auto;
    justify-content: left;
}

.hero-body .hero-btn{
font-size:1.5rem;
color:#fbb34d;
text-shadow: 0 0px 2px #b0b066;

}

.hero-body .hero-txt{
color:#fbb34d;
font-weight:bold;
font-size:6rem;
text-shadow: 0 5px 5px #62625e;

}

.hero-body .hero-msg{
font-size:2.3rem;
color:#00000088;
text-shadow: 0 5px 5px #b0b066;

}

.hero-body .hero img{
    position:relative;
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* object-position: center; */
    /* filter: brightness(40%);  */
}

.hero-body{
    position:absolute;
    top:50px;
    bottom:200px;
    /* left:50px; */
    padding: 10px;
    width:50%;
    /* height:50%; */
}

.hero-body a{
font-size:1.2rem;
}


.card p i{
    font-size: 3em;
    color:#297373;  
}

.card p i:hover{
    font-size:5em;
}

.card-text{
color:#00000088;

}
.nav-item i{
    font-size:1em;
}
 .action i{
    font-size:1em;
}
.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
}
.card-body a i{
font-size:1.3em;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-img-overlay{
    background-color:#00000055;
}
.socials i{
    font-size:1.3em;
    color:#297373;
    background-color:white;
    border-radius: 50%;
}


h4{
    font-weight: bold;
}

ul li{
list-style-type: none;
}

a{
    color:white;
}
footer{
    background-color:#297373;
    color:white;
}



@media(max-width: 575px) {
   .hero-body .hero-img {
        height: 300px;
    }

   .hero-body .hero-txt {
        font-size: 2rem;
    }

  .hero-body .hero-msg {
        font-size: 0.6rem;
    }

    .hero-body{
    position:absolute;
    top:0px;
    bottom:0px;
    padding: 0px;
    width:50%;
  }

  .hero-body .hero-btn{
  font-size:0.5rem;
}

}



 @media (max-width: 768px) {

 .hero-body  .hero-img {
        height: 350px;
    } 
    
.hero-body .hero-btn{
font-size:0.6rem;
}

.hero-body .hero-txt{
font-size:1.8rem;
}

.hero-body .hero-msg{
font-size:0.6rem;
}

 }

 @media (min-width: 768px) and (max-width: 1024px) {
    
.hero-body .hero-btn{
font-size:1.1rem;
}

.hero-body .hero-txt{
font-size:4rem;
}

.hero-body .hero-msg{
font-size:1.3rem;
}


 }